.vao{
    width: 100%;
}
.vb{
    margin-bottom: 2%;
}
.vaolivro{
    max-width: 70%;
}
.tampersonagens{
    max-width: 85%;
}
.cor{
    background-color: #F2F2F2;
}
.cormenu{
    background-color: #2C5159;
}
.comida1{
width: 85%;
}